@model IEnumerable<Mordekaiser.Core.Cuenta> 

@{
    ViewData["Title"] = "Lista de Cuentas";
}

<h1>Lista de Cuentas</h1>

@if (Model == null || !Model.Any())
{
    <p>No hay cuentas cargadas.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var cuenta in Model)
        {
            <tr>
                <td>@cuenta.IdCuenta</td>
                <td>@cuenta.Nombre</td>
                <td>@cuenta.Email</td>
            </tr>
        }
        </tbody>
    </table>
}
