@model IEnumerable<Mordekaiser.Core.Servidor>
@{
    ViewData["Title"] = "Lista de Servidores";
}

<h1>Lista de Servidores</h1>

<p>
    <a class="btn btn-success" asp-action="Crear">Crear Servidor</a> <!-- <- a Crear -->
</p>

@if (!Model.Any())
{
    <p>No hay servidores cargados.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviado</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var servidor in Model)
        {
            <tr>
                <td>@servidor.idServidor</td>
                <td>@servidor.Nombre</td>
                <td>@servidor.Abreviado</td>
            </tr>
        }
        </tbody>
    </table>
}
